*{
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0 !important;
    padding:0 !important;
}

ul,ol{
    list-style-type: none;
    margin:0 !important;
    padding:0 !important;
}
header{
    background-color: #222;
    ul{
        display: flex;
        li{
            a{
                color:#fff;
                display: block;
                padding: 10px;
                &.active{
                    background-color: red;
                }
            }
        }
    }
}

.main_content{
    min-height: calc(100vh - 100px);
    padding: 60px;
    background-color: #f5f5f5;
}

footer{
    background-color: #222;
    color:#fff;
    padding: 10px;
}