/* SearchBarSection.css */

.searchBarSection {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .searchBar {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
  }
  
  .input {
    width: 250px;
    border: none;
    border-radius: 20px;
  }
  
  .button {
    background-color: transparent;
    border: none;
    width: 25px;
    border-radius: 20px;
  }
  
  .display {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product {
    margin: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f9d5d3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }