@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loading_spinner{
    width: 50px;
    height: 50px;
    border: 1px solid #f3f3f3;
    border-top:10px solid orange;
    border-radius: 50%;
    animation:spinner 1.5s linear infinite;
}