
ul,ol{
    margin:0;
    padding:0;
    list-style-type: none;
}

header{
    background-color: #222;
    ul{
        display:flex;
        align-items: center;
        li{
            a{
                color:#fff;
                padding: 10px;
                display: block;
                &.active,&:hover{
                    background-color: red;
                    color:#fff;
                }
            }
        }
    }
}

.main_content{
    min-height:calc(100vh - 104px);
}

footer{
    background-color: #222;
    color:#fff;
    padding: 10px;
}