*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
}
ul,ol{
    list-style-type: none;
    margin:0 !important;
    padding:0 !important;
}


header{
    background-color: #222;
    ul{
        display: flex;
        li{
            a{
                color:#fff;
            }
        }
    }
}


.main_content{
    min-height: calc(100vh - 100px);
    background-color: #f5f5f5;
}

footer{
    background-color: #222;
    color:#fff;
    padding:10px;
}