body {
    background-color: lightblue;
  }
  
  .App {
    text-align: center;
    justify-content: center;
  }
  
  .title{
    color: red;
  }
  
  input {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
  }
  
  button {
    margin: 5px;
  }
  
  .task {
    font-size: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    margin-top: 20px;
    margin-left: 40%;
    background-color: #777;
    color: white;
  }
  
  
  /* part 2 */
  
  .delete-btn {
    position: absolute;
    margin-left: 110px;
    margin-top: -40px;
    background-color: red;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* part 3 */
  
  .edit-btn {
    background-color: green;
    position: absolute;
    margin-left: 180px;
    margin-top: -40px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
  }