*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin:0;
    padding: 0;
}

ul,ol{
    list-style-type: none;
}

header{
    background-color: #000;
    ul{
        display: flex;
        li{
            a{
                color:#fff;
                padding:10px 20px;
                display: block;
                &.active,&:hover{
                    background-color: red;
                }
            }
        }
    }
}

.main_content{
    min-height: calc(100vh - 104px);
    padding: 50px;
    background-color: #f8f8f8;
}

footer{
    background-color: #222;
    padding: 10px;
    color:#fff;
}