*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:is(h1,h2,h3,h4,h5,h6,p,ul,ol){
    list-style-type: none;
    margin:0 !important;
}

.main_content .content .btn-disabled {
    background-color: #f9f9f9;
    cursor: not-allowed;
}

header{
    background-color: #222;
    ul{
        display: flex;
        li{
            a{
                color:#fff;
                display: block;
                padding: 10px;
                &.active,&:hover{
                    background-color: red;
                    color:#fff;
                }
            }
        }
    }
}

.main_content{
    min-height: calc(100vh - 88px);
}

footer{
    background-color: #333;
    color:#fff;
    padding:10px;
}

.btn_scrollbacktop{
    position: fixed;
    right:30px;
    bottom:30px;
    width: 40px;
    height: 40px;
    background-color: red;
    color:#fff;
    text-align: center;
    line-height: 40px;
    z-index: 1;
}

// webkit text stroke
.custom-headline {
    color: transparent;
    -webkit-text-stroke: 1px #04D939;
  }

//   2. -webkit-line-clamp
.custom-button {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  // 3. fixed table head
  .custom-table {
    thead tr {
      position: sticky;
      background-color: #222;
      color:#fff;
      top: 0;
    }
    tbody{
        overflow-y: scroll;
        height: 200px;
    }
  }

  // 4. place-items
  .custom-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center center;
  }

  // 5. :placeholder-shown
  input:placeholder-shown {
    border-bottom: 2px solid #04D939;
  }

  //6. @media (hover: hover) and (pointer: fine)
  @media (hover:hover) and (pointer:fine) {
    .arrow:hover {
        cursor: pointer;
        color: #027333;
        transform: translateX(0.5rem);
      }
    }


    // 7. column-count => To create simple text columns this property can be used. In this example here are two <p> tags with a column count of 2.
    .wrapper {
        column-count: 2;
      }

    //  example2 - history components
    .history-text{
        width: 100%;
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
    
    .square,.sasactive{
        width: 80px;
        height: 80px;
        margin: 2%;
        transition: 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        color: white;
    }
    
    .sasactive{
        background-color: transparent !important;
        border: 2px solid rgb(69, 3, 14);
        color: tomato;
        width: 100px;
        height: 100px;
    }
    
    .square:hover,.sasactive:hover{
        width: 100px;
        height: 100px;
    }

    .btn {
        background-color: #3caf50;
        border: none;
        border-radius: 4px;
        color: white;
        padding: 9px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 3px 2px;
        cursor: pointer;
      }
      
      
      
      .app {
  background-color: #f2f2f2;
}

.app-dark {
  background-color: #333;
  color: #fff;
}