*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

ul,ol,h1,h2,h3,h4,h5,h6{
    margin:0 !important;
    padding:0;
}

header{
    background-color: #222;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 9;
    transition: top 0.6s;
    ul{
        display: flex;
        li{
            a{
                color:#fff;
                display: block;
                padding: 10px;
                &.active,&:hover{
                    background-color: red;
                    color:#fff;
                }
            }
        }
    }
}

.navbar--hidden {
  top: -75px;
}

.main_content{
    min-height: calc(100vh - 88px);
    .banner_content{
      background-color: #999;
      padding: 100px 50px;
      text-align: center;
    }
}

footer{
    background-color: #222;
    color:#fff;
    padding: 10px;
}

// sidebar 
.sidebar{
  position: fixed;
  left:-100%;
  top:0;
  width: 300px;
  height: 100vh;
  background-color: #ccc;
  padding: 10px;
  transition:all .3s linear;
}

.sidebar.sidebar_open{
  left:0;
}

// scroll back top
.top-to-btm{
    position: relative;
  }
  .icon-position{
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }
  .icon-style{
    background-color: #551B54;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
  }
  .icon-style:hover{
    animation: none;
    background: #fff;
    color: #551B54;
    border: 2px solid #551B54;
  }
  @keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(20px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-20px);
    }
    100%{
      transform: translateY(0px);
    }
  }
